.page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(124.93deg, #f5fcfe 0%, #fffcf4 99.63%);
  font-family: 'Inter', 'Verdana', 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #2b689b;
}
